<p>app/views/lists/index.html.erb</p>

<div class="container">
  <h1>Movie Lists</h1>
  <%= link_to "Create a movie list", new_list_path %>
  <% @lists.each do |list|  %>
    <p><%= link_to list.name, list_path(list)  %></p>
  <% end %>
</div>
